{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}

{% block body %}
      <div class="content">
         <div class="title">
            You will found here all projects !
         </div>
         <p>
            using only HTML & CSS & JS
         </p>
      </div>
      <div class="space">

      </div>
      <div class="card-list">
        <a href="{{ url_for('todo_app') }}" class="card-item">
           <img src="/images/html.jpg" alt="Logo">
            <span class="developer">Developer</span>
            <h3>A "developer" codes software and websites.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#" class="card-item">
           <img src="/images/html.jpg" alt="Logo">
            <span class="designer">Designer</span>
            <h3>A "designer" is a design expert.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#" class="card-item">
           <img src="/images/html.jpg" alt="Logo">
            <span class="editor">Editor</span>
            <h3>An "editor" ensures content quality and accuracy.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
    </div>
{% endblock body %}